header {
	display: flex;
	width: 100%;
	height: 20vw;
	max-height: 16rem;
	padding: 2rem;
	background-color: var(--primary-color);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
	position: absolute;
	opacity: 0.9;
}

body {
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color);
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input {
	border: 2px solid red;
	border-radius: 4px;
	padding: 12px 20px;
	font-size: 40px;
	border-radius: 50px;
	background-color: #e8eddf;
	outline: none;
}

section {
	height: 100vh;
	width: 100%;
	margin: 3vw 0 0 0;
}

h1 {
	font-size: 10vw;
	text-transform: uppercase;
}

span {
	font-weight: 900;
}

li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 10vw;
	height: 100%;
	text-align: center;
	cursor: pointer;
	font-size: 1.1vw;
	background: var(--fourth-color);
	color: var(--fifth-color);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	border-radius: 2vw;
}

li:hover{
	background: var(--third-color);
}

li a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	cursor: pointer;
	color: var(--fifth-color);
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 40%;
	width: 100%;
}

nav > ul{
	/*main-nav*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 100%;
	width: 80%;
	list-style-type: none;
}

.header-small{
	display: flex;
	flex-direction: row;
	background: var(--fifth-color);
	width: 100%;
	height: 4rem;
	z-index: 1;
	position: sticky;
}

.header-left{
	display: flex;
	width: 50%;
	font-size: 2.5rem;
	text-align: center;
	align-items: center;
	color: var(--fifth-color);
}

.header-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.main-container {
	color: var(--fifth-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
}

.body-header {
	display: flex;
	justify-content: center;
	height: 100%;
	object-fit: cover;
}

.video-container {
	width: 100%;
    height: 100%;
    object-fit: cover;
    /* height: 500px; */
    position: relative;
}

.body-header-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	align-self: center;
	text-align: center;
	width: 60%;
	padding: 1rem 1rem;
}

.hjertesaker {
	width: 100%;
	height: 100%;
}

.hjertesaker-head {
	display: flex;
	justify-content: flex-start;
	font-size: 2vw;
	color: var(--third-color);
	margin: 0 0 3vw 0;
}

.hjertesaker-head > img{
	margin: 0 0 0 2vw;
}

.hjertesaker-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.hjertesaker-footer {
	display: flex;
	justify-content: flex-end;
	color: var(--third-color);
	margin: 3vw 0 0 0;
	font-size: 2vw;
}

.hjertesaker-footer span:hover{
	color: var(--third-color);
	cursor: pointer;
}

.hjertesaker-footer span {
	color: var(--fourth-color);

}

.body-main {
	width: 100%;
	height: 100%;
	padding: 0 10%;
}

.cards {
	display: flex;
	flex-direction: column;
	justify-items: center;
	width: 30%;
	background: var(--third-color);
	border-radius: 2rem;
	padding: 3vw;
	text-align: center;
	font-size: 3rem;
}

.box-head {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.box-head > img {
	width: 5vw;
	height: auto;
}

.box-main{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin: 1.5vw 0 0 0;
	font-size: 2.5vw;
}

.box-content{
	height: 100%;
	width: 100%;
	margin: 1.5vw 0 0 0;
	font-size: 1.5vw;
	font-family:"Franklin Gothic Demi";
	line-height: 2.8rem;
	color: var(--secondary-color);
}

.body-split{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.body-split div{
	display: flex;
	width: 50%;
	height: 80%;
}

.body-split div:nth-child(1){
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: var(--third-color);
	font-size: 2vw;
}

.body-split div h2{
	font-size: 5vw;
	padding: 0 0 2vw 0;
}

.body-split div:nth-child(2){
	justify-content: flex-end;
}

.button-submit{
	display: flex;
	width: 12vw;
	height: 5vw;
	background: var(--fourth-color);
	font-size: 1.5vw;
	margin: 2vw 0 0 0;
	padding: 0.5 0;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	align-self: flex-start;
	border-radius: 4rem;
}

.button-submit:hover{
	background: var(--primary-color);
}

.grid{
	display: grid;
	padding: 2vw 0;
	width: 100%;
	height: 100%;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	gap: 2%;
}

.grid-box{
	background: var(--third-color);
	border-radius: 2rem;
	
}

.grid-box-content{
	display: flex;
	padding: 2vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.4vw;
	color: var(--fifth-color);
}

#olje-plattform-bilde {
 display: flex;
 z-index: -1;
 background-size: cover;
 /* Test */
 position: absolute; 
 right: 0; 
 bottom: 0;
 min-width: 100%; 
 min-height: 100%;
 width: auto; 
 height: auto; 
 z-index: -1;
 overflow: hidden;
}

#blue-heart{
	width: 4vw;
	height: 4vw;
}

#logo{
	width: 7vw;
	height: auto;
}
#logo-text{
	width: 20vw;
	height: auto;
	padding: 1vw 0 1vw 1vw;
	text-transform: uppercase;
	font-size: 2.5vw;
}

#main-nav li:nth-child(3){
	background: var(--third-color);
}

#main-nav li:nth-child(3):hover{
	background: var(--fourth-color);
}

/* Media queries */
@media screen and (min-width: 480px) {
 * {
	 /* background: blue; */
 }
}
/* Breakpoints for mobile devices */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
/*
	section {
	height: 50rem;
    width: 100%;
	}
	*/
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
/*
	section {
	height: 50rem;
    width: 100%;
	}
	*/
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	body{
		background: blue;
	}
}

/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	body{
		background: green;
	}
}
