:root {
	--primary-color: #293241;
	--secondary-color: #e0fbfc;
	--third-color: #3d5a80;
	--fourth-color: #ee6c4d;
	--fifth-color: white;
	--sixth-color: #42E793;
	--seventh-color: #FFC60B;
	font-size: 10px;
}
